.background {
    text-align: center;
    background-color: #1ecbe1;
    display: grid;
    place-items: center;
    height: 100vh;
}

.timerContainer {
    background-color: rgb(186, 228, 231);
    border-radius: 20px;
    padding: 30px;
    height: 400px;
    width: 400px;
    display: grid;
    place-items: center;
}

/**
html{
    filter: invert(1) hue-rotate(180deg)
}**/